# MongoDB - usar MongoDB Atlas en producción
MONGO_URI=mongodb+srv://<usuario>:<password>@cluster.mongodb.net/nexus_banca?retryWrites=true&w=majority
DB_NAME=nexus_banca

# JWT
JWT_SECRET=cambia_esto_por_un_secreto_muy_largo_y_seguro
JWT_EXPIRES_IN=8h

# Servidor
PORT=3000
