# Copia este archivo como .env y llena los valores

# Cadena de conexión a MongoDB Atlas (o Aiven/Supabase)
MONGO_URI=mongodb+srv://<usuario>:<password>@cluster0.mongodb.net/nexus_banca?retryWrites=true&w=majority

# Nombre de la base de datos
DB_NAME=nexus_banca

# Clave secreta para firmar los JWT (usa una cadena larga y aleatoria)
JWT_SECRET=cambia_esto_por_una_clave_muy_secreta_y_larga

# Tiempo de expiración del token JWT
JWT_EXPIRES_IN=8h

# Puerto del servidor
PORT=3000
